@import url("toastify-js/src/toastify.css");

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

/* .container div {
    border: 1px solid black;
} */

.container {
    width: 400px;
    height: 700px;
    background-color: white;
    border-radius: 16px;
    color: black;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr 3fr 1fr;
    display: grid;
    padding: 16px;
}

.center {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.search {
    grid-column: 1/3;
    display: grid;
    place-items: center;
}

.search input {
    height: 60%;
    width: 80%;
    background-color: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: x-large;
    text-align: center;
    /* box-shadow: rgba(100, 100, 111, 0.05) 0px 7px 29px 0px; */
}

.search input[type=submit] {
    display: none;
    position: absolute;
}

.search > form {
    display: grid;
    place-items: center;
}

.weather-graphic {
    grid-column: 1/3;
    display: grid;
    place-items: center;
}

.weather-graphic > img {
    width: 80%;
}

.temperature {
    grid-column: 1/3;
    font-size: 80pt;
    display: grid;
    place-items: start center;
    font-weight: bold;
}

.humidity, .wind {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 50% 50%;
}

.humidity > img, .wind > img {
    margin-right: 12px;
    height: 2.5rem;
    grid-row: 1/3;
    place-self: center end;
}

.humidity-label, .wind-label {
    place-self: start start;
    font-weight: 500;
}

#humidity, #wind {
    font-size: large;
    font-weight: 500;
    place-self: end start;
}

sup {
    font-size: 28pt;
    font-weight: bold;
}

p {
    margin: 0;
    padding: 0;
    display: inline-block;
}

